p {
    color: red;
    background-color: aqua;
    text-align: center;
}

button {
    color: black;
    background-color: lightcoral;
}

body{
    background-color: grey;
}

div{
   width: 100px;
   height: 100px;
   margin: 25px;
   padding: 25px;
   display: inline-block;
}