p {
    color: red;
    background-color: aqua;
    text-align: center;
}

button {
    color: black;
    background-color: lightcoral;
}

body{
    background-color: grey;
}

div{
    background-color: #f08804;
    display: inline;
}